* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    /* background-color: rgba(0, 0, 0, 0.02); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}